.nav {
  &--top {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
  }

  &--bottom {
    height: 40px;
    background: #aaaaaa;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    text-shadow: 1px 1px 1px #00000054;

    a {
      color: white;
      transition: .2s all;
      height: 100%;
      display: flex;
      align-items: center;

      &:hover {
        background: #bbb;
      }
    }
  }
}

.icon {
  height: 30px;
  width: 30px;

  &:not(:first-of-type) {
    margin-left: 10px;
  }
}

.sidebar-toggle {
  .icon {
    overflow: hidden;

    img {
      transform: scale(1.5);
    }
  }
}

.se-logo {
  height: 65px;
}

.icons-container {
  display: flex;
  gap: 50px;
}

.socials {
  display: flex;
}