.nav {
  box-shadow: 0 2px 10px 1px rgba(17, 17, 17, .15);

  &--top {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
  }

  &--bottom {
    height: 40px;
    background: #aaaaaa;
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      color: white;
      transition: .2s all;
      height: 100%;
      display: flex;
      align-items: center;
      padding: 0 25px;
      box-sizing: border-box;

      &:hover {
        background: #bbb;
        cursor: pointer;
      }
    }
  }
}

.icon {
  height: 30px;
  width: 30px;

  &:not(:first-of-type) {
    margin-left: 10px;
  }
}

.sidebar-toggle {
  .icon {
    overflow: hidden;

    img {
      transform: scale(1.5);
    }
  }
}

.se-logo {
  height: 65px;
}

.icons-container {
  display: flex;
  gap: 50px;
}

.socials {
  display: flex;
}

.submenu-container {
  height: 100%;
  max-width: 270px;
  width: 100%;
}

.submenu {
  position: absolute;

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &::after {
      content: url("../../assets/icons/dropdown.png");
      transform: rotate(-90deg);
      height: 10px;
      width: 10px;
      transition: .15s all ease-out;
    }
  }

  &__link-container {
    height: 100%;

    &:hover {
      .submenu__title::after {
        transform: rotate(0);
      }
    }
  }
}