.nav {
  &--top {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
  }

  &--bottom {
    height: 40px;
    background: #aaaaaa;
  }
}

.icon {
  height: 30px;
  width: 30px;

  &:not(:first-of-type) {
    margin-left: 10px;
  }
}

.se-logo {
  height: 65px;
}

.icons-container {
  display: flex;
}

.socials {
  display: flex;
}