.amount-btn-group {
  display: flex;
  align-items: center;
}

.btn-amount:hover {
  color: rgba(170,170,170,.75);
}

div.buy-btn.btn-container {
  border: none !important;
  padding:  0 !important;
}