@import "styles/abstracts/variables";
@import "styles/globals/reset-styles";
@import "styles/globals/fonts";
@import "styles/globals/typography";

picture {
  display: block;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

a {
  text-decoration: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

.section-contrains {
  max-width: 1320px;
  padding: 0 60px;
  margin-inline: auto;
  @media (max-width: $medium) {
    padding: 0 24px;
  }
}

.heading-container {
  text-align: center;
}

.tables-page {
  margin: 150px auto;

  h1 {
    &.page-title {
      color: #1d6cc1;
    }
  }

  h1 + .paragraph {
    margin-top: 25px;
  }
}

.section-subtitle--secondary-color {
  color: #1d6cc1;
}

.links-container {
  margin-top: 75px;
}

video {
  max-width: 800px;
  width: 100%;
  height: fit-content;
}

.unordered-list {

  li {
    &:not(:first-of-type) {
      margin-top: 5px;
    }

    &::before {
      display: inline-block;
      content: '';
      background-color: black;
      width: 5px;
      height: 5px;
      vertical-align: middle;
      border-radius: 50%;
      margin-right: 10px;
    }
  }
}