@import "styles/globals/reset-styles";
@import "styles/globals/fonts";
@import "styles/globals/typography";

.section-contrains {
  max-width: 1320px;
  padding: 0 60px;
  margin-inline: auto;
}

picture {
  display: block;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

a {
  text-decoration: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}