@import "styles/globals/reset-styles";
@import "styles/globals/fonts";
@import "styles/globals/typography";

picture {
  display: block;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

a {
  text-decoration: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

.section-contrains {
  max-width: 1320px;
  padding: 0 60px;
  margin-inline: auto;
}

.heading-container {
  text-align: center;
}

.tables-page {
  margin: 150px auto;

  h1 {
    &.page-title {
      color: #1d6cc1;
    }
  }

  h1 + .paragraph {
    margin-top: 25px;
  }
}

.links-container {
  margin-top: 75px;
}

video {
  max-width: 800px;
  width: 100%;
  height: fit-content;
}