@import "styles/globals/reset-styles";
@import "styles/globals/fonts";

picture {
  display: block;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

a {
  text-decoration: none;
}

h1,h2,h3,h4,h5,p,span,a,div,ul,ol,li {
  font-family: 'Avenir Book 45', sans-serif;
}